mixin input-required(forName, label, type)
    div.input__group
        label(for=forName) #{label}
        input(id=forName, type=type, name=forName, aria-label=type, aria-required="true")
        span.message--error

mixin input-group(forName, label, type, ariaLabel)
    div.input__group
        label(for=forName) #{label}
        input(id=forName, type=type, name=forName, aria-label=ariaLabel)
        span.message--error


mixin input-password(forName, label, type, icon, altIcon)
    div.input__group
        label(for=forName) #{label}
        input(id=forName, type=type, name=forName, aria-label=type, aria-required="true")
        span.message--error
        img.icon.input__icon(src=icon, alt=altIcon)


mixin radio(forName, name, value, label)
    input.input(id=forName, type="radio", name=name, value=value, aria-label=value)
    label.label(for=forName) #{label}


mixin checkbox(forName, name, value, label)
    input.input(id=forName, type="checkbox", name=name, value=value)
    label.label(for=forName) #{label}


mixin input-group-drop(forGroup, title, forName, srcIcon, altIcon, label, type, accept)
    div.input__group
        label(for=forGroup) #{title}
        div.drop__zone
            img.icon(src=srcIcon, alt=altIcon)
            label(for=forName) #{label}
                input(id=forName, type=type, name=forName,  accept=accept)
